Repository trybrito/memento: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.ts?": ["eslint --fix"],
  "src/**/*.scss": ["stylelint --fix"]
}

chore: add react-router-dom library
  package.json
  tsconfig.json
  yarn.lock
Due: none

feat: homepage
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Due: eslint --fix, stylelint --fix

feat: set application routes
  src/App.tsx
  src/routes.tsx
Due: eslint --fix

style: add global styles
  src/global.scss
Due: stylelint --fix

chore: rename configuration file
  .commitlintrc.json
  .prettierrc.json
Due: none

chore: add craco library
  package.json
  yarn.lock
Due: none

chore: update configuration file
  .eslintrc.json
  .stylelintrc.json
  craco.config.js
Due: none

style: add global styles/partials folder
  src/styles/_variables.scss
  src/styles/global.scss
Due: stylelint --fix

fix: the path of the styles file
  src/App.tsx
Due: eslint --fix

chore: update config file
  .eslintrc.json
Due: none

style: add/update global scss variables
  src/styles/_variables.scss
Due: stylelint --fix

style: update global styles
  src/styles/global.scss
Due: stylelint --fix

feat: add aplication fonts link
  public/index.html
Due: none

feat: mobile-first homepage
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Due: eslint --fix, stylelint --fix

fix: the name of the configuration file
  commitlint.config.js
  prettier.config.js
  src/global.scss
Due: stylelint --fix

style: add mixins partial
  src/styles/_mixins.scss
Due: stylelint --fix

chore: add mixins auto import
  craco.config.js
Due: none

refactor: homepage
  src/pages/Home/index.tsx
  src/pages/Home/styles.scss
Due: eslint --fix, stylelint --fix

feat: add header component
  src/components/Header/index.tsx
  src/components/Header/styles.scss
Due: eslint --fix, stylelint --fix

refactor: update header component to accept css modules
  src/components/Header/index.tsx
  src/components/Header/styles.module.scss
Due: eslint --fix, stylelint --fix

feat: add application assets folder
  src/assets/play.svg
Due: none

refactor: update homepage layout
  src/pages/Home/index.tsx
  src/pages/Home/styles.module.scss
Due: eslint --fix, stylelint --fix

refactor: update application routes
  src/routes.tsx
Due: eslint --fix

feat: add score page
  src/pages/Home/styles.scss
  src/pages/Score/index.tsx
  src/pages/Score/styles.module.scss
Due: eslint --fix, stylelint --fix
